.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}

ul.pagination {
  padding: 0;
}

.pagination > .active > a {
  color: #fff !important;
}

.pagination > li > a {
  border: 1px solid var(--color-primary);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: var(--color-primary);
    color: white !important;
  }
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  outline: none;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  &:hover {
    background-color: var(--color-primary);
    color: white;
  }
}
