.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none !important;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible !important;
}

.modal.exit {
  opacity: 0;
}

.modal-content {
  width: 80% !important;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  transform: translateY(-500px);
  pointer-events: none !important;
}

.modal.enter-done .modal-content {
  transform: translateY(0);
  pointer-events: visible !important;
}

.modal.exit .modal-content {
  transform: translateY(-50%);
}

.modal-header,
.modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  max-height: 80vh;
  overflow-y: auto;
}
